// 给项目提供scss全局变量

// 左侧的菜单的宽度
$base-menu-width: 260px;

// 左侧的菜单折叠后的宽度
$base-menu-fold-width: calc(var(--el-menu-icon-width) + var(--el-menu-base-level-padding)*2);

// 左侧菜单的背景颜色
$base-menu-background-color: #001529;

// 顶部导航的高度
$base-tabbar-height: 50px;

// 左侧菜单logo的高度
$base-menu-logo-height: 50px;

// 左侧菜单logo右侧文字大小
$base-logo-title-fontSize: 20px;